html, body {
    margin: 0! important;
    padding: 0;
    height: 100%;
  }
  
  body {
    background-color: #f0f0f0;
  }
  
  #root {
    min-height: 100%;
  }

  [class^="e-toast"] {
    z-index: 9999 !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15) !important;
  }
  