# Common node/maven build outputs
**/node_modules
**/target
**/build
**/*.log

# IDE/editor settings
**/.idea
**/.vscode
**/*.iml

# Version control
.git
.gitignore

# Env/secrets
.env
*.pem

# Docker internals
Dockerfile
.dockerignore
